@import url(https://fonts.google.com/share?selection.family=poppins:ital,wght@0,300..900;1,300..900);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: poppins;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 120vh;   
}
img{
    border-radius: 25%;
}
.profilecard{
       background-color: aquamarine;
       box-shadow:5px 10px;
    border: 2px solid rgb(111, 1, 1);
    border-radius: 5%;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.social{
    display: flex;
    justify-content: center;
    gap:10px;
    color: rgb(147, 4, 4);

}